.input-container{
    width: 200px;
}
.input-container input {
    width: 100%;
    box-sizing: border-box;
}
.strength-container{
    width: 200px;
    display: grid;
    gap: 5px;
    grid-template: '1fr 1fr 1fr';
    margin-top: 16px;
}
.strength-item{
    height: 3px;
}
